<app-create-content (newArticleEvent)="addArticleToList($event)"></app-create-content> <br />
<mat-form-field>
  <mat-label>Search Title</mat-label>
  <input matInput #contentTitle required="required">
</mat-form-field>
<button mat-raised-button color="primary" style="margin: 10px" (click)="searchByTitle(contentTitle.value)">Search</button>
<app-content-card *ngFor="let item of (contentList | specificType: 'fluff'); index as i; last as isLast" [content]="item" [class.is-last]="isLast" class="content-fluff"></app-content-card>
<app-content-card *ngFor="let item of (contentList | specificType: 'news'); index as i; last as isLast" [content]="item" [class.is-last]="isLast" class="content-news"></app-content-card>
